In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("praktikum_datasets/MOCK_USER_DATA.csv",index_col=0)

In [4]:
df

    first_name   last_name                           email       gender   age
id
1      Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2      Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3       Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4         Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5     Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48
..         ...         ...                             ...          ...   ...
96        Baxy       Marcu        bmarcu2n@list-manage.com      Agender    64
97      Kattie     Claxson          kclaxson2o@booking.com       Female    18
98        Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender    55
99   Desdemona     Jurasek        djurasek2q@aboutads.info  Genderfluid    46
100      Mable     Toffano          mtoffano2r@myspace.com     Bigender   233

[100 rows x 5 columns]

In [5]:
len(df)

100

In [9]:
randlist = np.random.permutation(100) # randomin

In [10]:
randlist

array([ 1, 54, 46, 85,  8,  4, 18, 12, 62, 72, 94, 13,  9, 48, 29, 10, 61,
       86, 63, 23, 52, 28, 39, 64, 30, 81, 53, 69,  0, 25, 56, 38,  5, 84,
       79, 16, 59, 24, 74, 47, 67, 80, 93, 14, 45, 60, 43, 73, 75, 49, 15,
       83, 92,  3, 77, 66, 20, 40, 36, 51, 57, 70, 22, 78, 41, 65, 27,  2,
       26, 68, 21, 55, 97, 98, 58, 87, 34, 42, 71, 90, 82, 32, 99, 33, 37,
       19, 50, 17, 44, 89, 35, 95, 76, 11, 88,  7,  6, 96, 31, 91])

In [11]:
df.take(randlist)

   first_name   last_name                         email       gender  age
id
2     Pietrek     Scanlin        pscanlin1@yolasite.com         Male   91
55      Hiram    Bringloe            hbringloe1i@pen.io   Polygender   50
47      Cleve   Sparshatt    csparshatt1a@economist.com  Genderfluid  333
86    Rogerio        Akid           rakid2d@latimes.com       Female    3
9         Der      Neames      dneames8@ycombinator.com     Bigender   77
..        ...         ...                           ...          ...  ...
8         Nye   Anthiftle      nanthiftle7@examiner.com      Agender   99
7       Wendy     Popland              wpopland6@cbc.ca  Genderfluid   67
97     Kattie     Claxson        kclaxson2o@booking.com       Female   18
32  Mirabelle  Matthewson  mmatthewsonv@list-manage.com      Agender   44
92       Yuri       Fahey              yfahey2j@pbs.org   Non-binary   37

[100 rows x 5 columns]

In [12]:
df.sample(10) # returning 10 random

   first_name   last_name                           email       gender  age
id
98       Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender   55
63   Adrianne     Gommowe    agommowe1q@deliciousdays.com         Male  100
74      Curry  Smalecombe    csmalecombe21@washington.edu         Male   69
14    Mariana     Shevels               mshevelsd@msn.com      Agender   60
68      Letty     Liddell              lliddell1v@nps.gov  Genderfluid   85
72   Eleanora     Kamenar         ekamenar1z@examiner.com         Male   47
19      Luisa   Bradborne            lbradbornei@fema.gov       Female  -75
12  Raffaello   Firminger       rfirmingerb@bloomberg.com       Female   74
44     Marice   Champneys      mchampneys17@bigcartel.com     Bigender   49
6       Glynn      Ebbing          gebbing5@rakuten.co.jp  Genderfluid   77